<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="respondentDao" class="com.urakhov.dao.postgres.RespondentDaoImpl">
        <property name="dataSource" ref="dataSourceForRespondent"/>
    </bean>

    <bean id="genreDao" class="com.urakhov.dao.postgres.GenreDaoImpl">
        <property name="dataSource" ref="dataSourceForRespondent"/>
    </bean>

    <bean id="styleDao" class="com.urakhov.dao.postgres.StyleDaoImpl">
        <property name="dataSource" ref="dataSourceForRespondent"/>
    </bean>

    <bean id="songDao" class="com.urakhov.dao.postgres.SongDaoImpl">
        <property name="dataSource" ref="dataSourceForRespondent"/>
    </bean>

    <bean id="pollDao" class="com.urakhov.dao.postgres.PollDaoImpl">
        <property name="dataSource" ref="dataSourceForRespondent"/>
    </bean>

    <bean id="userDao" class="com.urakhov.dao.postgres.UserDaoImpl">
        <property name="dataSource" ref="dataSourceForRespondent"/>
    </bean>

</beans>